<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    

  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <connectionStrings>
    <add name="NADIMACCOUNTING" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|NADIMACCOUNTING.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="ACCOUNTINGNADIM.Properties.Settings.NADIMConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\bin\Debug\NADIMACCOUNTING.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="ACCOUNTINGNADIM.Properties.Settings.NADIMACCOUNTINGConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NADIMACCOUNTING;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ACCOUNTINGNADIM.Properties.Settings.E__KHAN_KHAN_ACCOUNTINGNADIM_ACCOUNTINGNADIM_BIN_DEBUG_NADIMACCOUNTING_MDFConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=E:\KHAN\KHAN\ACCOUNTINGNADIM\ACCOUNTINGNADIM\BIN\DEBUG\NADIMACCOUNTING.MDF;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
 
 <system.windows.forms jitDebugging="true"/>
</configuration>
